<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Download</title>
</head>
<body>
    <h1>Slides Download</h1>
    <form action="/download" method="post">
        <label for="url">SlideShare URL:</label><br>
        <input type="text" id="url" name="url" required><br><br>
        <input type="submit" value="Download">
    </form>
</body>
</html>
